*{
	margin: 0px;
	padding: 0px;
	background-color: #00ff00;
}
.title{
	position: absolute;
	top:5%;
	left:50%;
	transform: translate(-50%,50%);
}
.title h1{
	font-style: italic;
	font-family: inherit;
	font-size: 44px;
}
.pub1{
	color: #fff;
	font-family: inherit;
	font-size: 26px;
	margin-top:150px;
	display: block;

}
.images img{
     position: absolute;
     top:30%;
     left:20%;
     width:400px;
     height:300px;
}
.ima img{
     position: absolute;
     top:30%;
     left:50%;
     width:400px;
     height:300px;
}
.pub2{
	color: #fff;
	font-family: inherit;
	font-size: 26px;
	margin-top:320px;
	display: block;

}
.imm img{
     position: absolute;
     top:87%;
     left:20%;
     width:400px;
     height:300px;
}
.imc img{
     position: absolute;
     top:87%;
     left:50%;
     width:400px;
     height:300px;
}